/*==================
Custom Variables 🎨
====================== */
:root {
    --purple-card:hsl(263, 55%, 52%);
    --gray-card: hsl(217, 19%, 35%);
    --blkblue-card: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
    --lightgrey-text: hsl(0, 0%, 81%);
    --greyblue: hsl(210, 46%, 95%);
}

/*====================
 Base Styles 🏠
 ====================== */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  
body {
    color: var(--white);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    font-weight: 500;
    padding: 20px;
    background-color: var(--greyblue);
}

h1, h2, h3, h4 {
  margin-top: 0;
}

/*======================
 Main Grid Container 🕸
 ======================= */

.gridWrapper {
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 35px 30px;
    border-radius: 12px;
    box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.1);  
  }
  
  /*=============
  Mobile Styles 📱
  =================*/
  .item1 {
    background-color: var(--purple-card);
    background-image: url(/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-size: 22%;
    background-position: right 15% bottom 100%;
  }
  .item2 {
    background-color: var(--gray-card);
  }
  .item3 {
    background-color: var(--white);
    order: 1;
  }
  .item4 {
    background-color: var(--white);
   
  }
  .item5 {
    background-color: var(--blkblue-card);
  }

  .item3, .item4 {
      color: var(--gray-card);
  }

/* Icon */

.iconContainer img {
  border-radius: 50%;
  float: left;
  border: 2px solid var(--lightgrey-text);
  margin-right: 25px;
  height: 40px;
  width: auto;
}

.userNameContainer {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.iconContainer {
  margin-bottom: 20px;
}

/* Verified Text */
  .item span {
    opacity: 50%;
  }
/* Bold Text */
  .item h1 {
    margin-bottom: 15px;
  }

/* Paragraph Text */
  .item .testimonial {
    line-height: 30px;
    opacity: 70%;
  }

/* User Name Text */
  .item .userName {
    font-weight: 600;
  }

  /*===============================
  Desktop Styles Grid Container 🖥💻
  =================================*/
  @media screen and (min-width: 1100px){
    .gridWrapper {
      display: grid;
      height: 100vh;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: minmax(300px, auto);
      max-width: 1446px;
    }
    .item1 {
      grid-column: span 2;
    }
    .item2 {
      grid-column: span 1;
    }
    .item3 {
     grid-row: span 2;
     order: 0;
    }
    .item4 {
      grid-column: span 1;
    }
    .item5 {
     grid-column: span 2;
    }
  }

