/* Verified Text */
.item span {
    opacity: 50%;
  }
/* Bold Text */
  .item h1 {
    margin-bottom: 15px;
  }

/* Paragraph Text */
  .item .testimonial {
    line-height: 30px;
    opacity: 70%;
  }

/* User Name Text */
  .item .userName {
    font-weight: 600;
  }